node_modules
magento
vendor
backdoor
*.dev.md
.env*
auth.json
addon-manifest.json
n98-magerun2.phar
private
umc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions
