# Add the ec2-user wo the webapp user group that owns /var/app/current/
# This is so that if we debug, we can change files in that dir if really needed
# Be sure to completely close and open PHPStorm if you had the ssh terminal open to this box before this executed
commands:
    01_add_ec2_user_to_group:
        command: usermod -a -G webapp ec2-user
    02_read_write_to_group:
        command: chmod 775 /var/app/current/ -R