option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
    01setup_swap:
        command: "bash .ebextensions/setup_swap.sh"
        
commands:
   100_updateComposer:
     command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
