option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: "2G"
    zlib.output_compression: "On"
    allow_url_fopen: "On"
    display_errors: "On"
    max_execution_time: 120
    document_root: "/"
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader
