files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/95_chown_app_directory.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R ec2-user:ec2-user /var/app/current
      chmod -R 755 /var/app/current
      #chown -R webapp:webapp /var/app/current/storage/
